.panel {
    background: white;
    position: fixed;
    z-index: 999999;
    top: 0; bottom: 0;
    transition-property: all;
    transition-timing-function: ease;
    display: none;

    -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

.panel {
    box-sizing: border-box;
    padding: 0px;
    overflow-y: scroll;
    box-shadow: -4px 0px 6px 1px rgba(0, 0, 0, 0.25);
}
